.container {
  width: 100%;
}
button {
  margin: 10px;
  padding: 0;
  &:hover {
    cursor: pointer;
    background: hsla(217, 99%, 49%, 0.221);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.51);
  }
}
i {
  cursor: pointer;
  padding: 5px;
}
